*{
    margin: 0%;
    padding: 0%
}


body{
    background: #59C173;
        /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5D26C1, #a17fe0, #59C173);
        /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5D26C1, #a17fe0, #59C173);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}



.home{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 12px;
    border: 1px solid white;
    margin-left: 12px;
    
}

a{ 
    color: black;
    text-decoration: none;
}

.para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}